@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(fonts/roboto-light.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(fonts/roboto-regular.ttf) format('truetype');
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
}

a {
  text-decoration: none;
}

li {
  line-height: 40px
}

.absolute-center {
  position: fixed;
  width: 90%;
  height: 80%;
  left: 5%;
  top: 40%;
  text-align: center;
}

.topbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.selectbar {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
}

.welcome {
  min-height: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-title {
  position: relative;
  display: inline-block;
  width: 350px;
  height: 100px;
  padding-top: 20px;
  top: -20px;
  border: 2px solid #fff;
  border-radius: 5px;
}
.app-name {
  position: relative;
  top: 5px;
}

.contacts {
  padding: 10px;
  display: inline-block;
  position: relative;
  width: 100%;
  top: 65px;
}

.card {
  min-height: 90px;
}

.toolbar {
  padding: 12px 5px 12px 5px;
}

.toolbar img {
  min-width: 30px;
  min-height: 30px;
  max-width: 40px;
  max-height: 40px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  border-radius: 3px;
}

.dropdown-link {
  line-height: 40px;
  height: 40px;
  width: 100%;
  font-size: 1rem;
  font-weight: 300;
}

.search-filter__input {
  padding: 0 10px 0 10px;
  background-color: #fff;
  color: #000!important;
}

.dialog__l {
  width: 90%;
  margin-left: -45%;
}

.checkbox__label {
  margin: 10px 0px 0px 7px;
}

.row__primary {
  width: 50px!important;
}
.list-row__primary {
  width: 50px;
}
.list-row__primary img {
  width: 55px!important;
  height: 55px!important;
}

.grad-bg {
  background: rgb(63, 81, 181);
  background: -moz-linear-gradient(-45deg,  rgba(63, 81, 181, 1) 0%, rgba(3, 169, 244, 1) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(3, 169, 244, 1)), color-stop(100%,rgba(3, 169, 244, 1)));
  background: -webkit-linear-gradient(-45deg,  rgba(63, 81, 181, 1) 0%,rgba(3, 169, 244, 1) 100%);
  background: -o-linear-gradient(-45deg,  rgba(63, 81, 181, 1) 0%,rgba(3, 169, 244, 1) 100%);
  background: -ms-linear-gradient(-45deg,  rgba(63, 81, 181, 1) 0%,rgba(3, 169, 244, 1) 100%);
  background: linear-gradient(135deg,  rgba(63, 81, 181, 1) 0%,rgba(3, 169, 244, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3F51B5', endColorstr='#03A9F4',GradientType=1 );
}

*::-webkit-input-placeholder { /* WebKit browsers */
  color:    #ccc!important;
}
*:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ccc!important;
   opacity:  1;
}
*::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ccc!important;
   opacity:  1;
}
*:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #ccc!important;
}

@media (max-width: 600px) {
  .welcome-title {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 100px;
    padding-top: 20px;
    top: -20px;
    border: 2px solid #fff;
    border-radius: 5px;
  }

  .fs-display-2 {
    font-size: 2.125rem;
    font-weight: 400;
    line-height: 40px;
  }

  .toolbar {
    padding: 7px 5px 12px 5px;
  }
}