<!doctype html>
<html lang="en" ng-app="Contacts" ng-cloak>

<head>
  <title>Contacts</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

  <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
      display: none !important;
    }
  </style>
  <base target="_blank">
  <link rel="stylesheet" href="bower_components/lumx/dist/lumx.css">
  <link rel="stylesheet" href="bower_components/mdi/css/materialdesignicons.css">
  <link rel="stylesheet" href="bower_components/ngImgCrop/compile/minified/ng-img-crop.css"/>
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" type="img/png" href="images/favicon.png">
  <link rel="manifest" href="manifest.json">
</head>

<body ng-controller="Main" flow-prevent-drop flex-container="column">
  <div id="progress"></div>

  <!-- Welcome page -->

  <div class="welcome row grad-bg" ng-if="!loggedIn">
    <div class="absolute-center tc-white-1">
      <div class="welcome-title">
        <span class="icon icon--xl icon--flat mdi mdi-account-location tc-white-1"></span>
        <span class="app-name fs-display-2">CONTACTS</span>
      </div>
      <div class="mt fs-subhead">A personal address book manager</div>
      <button class="mt++ btn btn--l btn--black bgc-white-1" lx-ripple aria-label="Login to manage your contacts" ng-click="TLSlogin()">
          <span class="tc-light-blue-300">{{loginTLSButtonText}}</span>
      </button>
    </div>
    <!-- Login -->
  </div>

  <!-- Authenticated user -->

  <div class="main" ng-if="loggedIn">
    <!-- Top menu bar -->
    <div ng-if="show.topbar" class="topbar">
      <div class="toolbar bgc-blue-A700">
        <div ng-if="initialized" class="toolbar__left">
          <button class="btn btn--l btn--black btn--icon" lx-ripple aria-label="Add new contact" lx-tooltip="Add contact" tooltip-position="bottom" ng-click="editContact()">
            <span aria-hidden="true" class="mdi mdi-account-plus tc-white-1"></span>
          </button>
        </div>

        <div ng-if="initialized" class="toolbar__left" aria-label="Filter contacts">
          <input type="text" class="search ml" ng-model="filters.search" placeholder="Filter...">
          <button ng-if="filters.search.length > 0" class="btn btn--m btn--flat btn--icon" lx-ripple aria-label="Clear search box" ng-click="filters.search=''">
            <span aria-hidden="true" class="mdi mdi-close-circle tc-white-1"></span>
          </button>
        </div>

        <div class="toolbar__right toolbar__label">
          <div class="toolbar__right fs-title" ng-show="loggedIn">
            <img class="myimg mr" ng-show="my.picture" ng-src="{{my.picture}}" alt="Photo of {{my.name}}" lx-tooltip="{{my.name}}" tooltip-position="bottom" />
            <img class="myimg mr" ng-hide="my.picture" src="images/generic_photo.png" alt="Photo of user" lx-tooltip="{{my.name}}" tooltip-position="bottom" />
            <span class="hide-small tc-white-1">{{my.name}}</span>
          </div>
          <lx-dropdown position="right" from-top>
            <button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle aria-label="Menu">
              <span aria-hidden="true" class="mdi mdi-menu tc-white-1"></span>
            </button>
            <lx-dropdown-menu>
              <ul>
                <!-- <li><a class="dropdown-link"><span aria-hidden="true" class="mdi mdi-cloud-download mr"></span>Import vCards</a></li>
                <li><a class="dropdown-link"><span aria-hidden="true" class="mdi mdi-cloud-upload mr"></span>Export vCards</a></li> -->
                <li><a class="dropdown-link" ng-click="refresh()"><span aria-hidden="true" class="mdi mdi-refresh mr"></span>Refresh</a></li>
                <li><a class="dropdown-link"><span aria-hidden="true" class="mdi mdi-settings mr"></span>Preferences</a></li>
                <li><a class="dropdown-link" ng-click="openDialog('about')"><span aria-hidden="true" class="mdi mdi-information-outline mr"></span>About</a></li>
                <li class="dropdown-divider"></li>
                <li><a class="dropdown-link" ng-click="logOut()"><span aria-hidden="true" class="mdi mdi-exit-to-app mr"></span>Logout</a></li>
              </ul>
            </lx-dropdown-menu>
          </lx-dropdown>
        </div>
      </div>
    </div>

    <!-- Selected contacts bar -->

    <div class="selectbar toolbar bgc-blue-100 tc-grey-800" ng-if="selects.contacts.length > 0">
      <div class="toolbar__left">
        <a class="btn btn--l" lx-ripple aria-label="Back" lx-tooltip="Back" tooltip-position="bottom" ng-click="selectNone()">
          <span aria-hidden="true" class="mdi mdi-arrow-left tc-grey-800"></span>
          Back
        </a>
      </div>
      <div class="toolbar__left toolbar__label mr">
        <lx-dropdown>
          <a class="btn btn--l btn--black" lx-ripple lx-dropdown-toggle aria-label="Selection menu">
            <span>{{selects.contacts.length}} selected</span>
            <span aria-hidden="true" class="mdi mdi-chevron-down tc-grey-800"></span>
          </a>
          <lx-dropdown-menu>
            <ul>
              <li><a class="dropdown-link" ng-click="selectAll()"><span aria-hidden="true" class="mdi mdi-checkbox-marked-outline mr"></span>Select all</a></li>
              <li><a class="dropdown-link" ng-click="selectNone()"><span aria-hidden="true" class="mdi mdi-checkbox-blank-outline mr"></span>Select none</a></li>
            </ul>
          </lx-dropdown-menu>
        </lx-dropdown>
      </div>
      <div class="toolbar__right">
        <button class="btn btn--l btn--black btn--icon" lx-ripple aria-label="Merge contacts" lx-tooltip="Merge" tooltip-position="bottom" ng-show="selects.contacts.length > 1" ng-click="mergeSelected()">
          <span aria-hidden="true" class="mdi mdi-numeric-1-box-multiple-outline tc-grey-800"></span>
        </button>
        <button class="btn btn--l btn--black btn--icon" lx-ripple aria-label="Delete contacts" lx-tooltip="Delete" tooltip-position="bottom" ng-click="confirmDelete(selects.contacts)">
          <span aria-hidden="true" class="mdi mdi-delete tc-grey-800"></span>
        </button>
      </div>
      <div class="toolbar__right">
        <lx-dropdown position="right" from-top>
          <button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle aria-label="Multiple contacts menu">
            <span aria-hidden="true" class="mdi mdi-dots-vertical tc-grey-800"></span>
          </button>
          <lx-dropdown-menu>
            <ul>
              <li><a class="dropdown-link"><span aria-hidden="true" class="mdi mdi-cloud-upload mr"></span>Export vCards</a></li>
              <li><a class="dropdown-link"><span aria-hidden="true" class="mdi mdi-account-multiple-plus mr"></span>Add to group</a></li>
            </ul>
          </lx-dropdown-menu>
        </lx-dropdown>
      </div>
    </div>

    <contact></contact>

    <!-- Contacts -->

    <contacts></contacts>

    <!-- Workspace picker -->

    <workspaces></workspaces>

    <!-- footer -->
    <div class="align-center footer fs-body-2 mt+">
      &copy; 2015
      | <a href="https://github.com/linkeddata/contacts/issues" target="_blank"><span aria-hidden="true" class="mdi-action-info-outline"></span> Issue tracker</a>
      | <a href="https://github.com/linkeddata/contacts" target="_blank">GitHub</a>
    </div>
  </div>

  <!-- Dialogues -->

  <!-- Picture cropper -->

  <lx-dialog class="dialog dialog--s" auto-close="true" id="picture-cropper">
    <div class="dialog__content p">
      <div class="crop-area">
        <img-crop image="originalImage" area-type="square" result-image-format="{{imageType}}" result-image-size="180" result-image="croppedImage.value"></img-crop>
      </div>  
      <div class="cropped-area">
        <img id="result-image" class="valign" ng-src="{{croppedImage.value}}" alt="Profile image" />
      </div>
    </div>
    <div class="dialog__actions">
      <div flex-item>
        <button class="btn btn--m btn--black btn--flat" lx-ripple ng-click="savePicture()">Save</button>
        <button class="btn btn--m btn--black btn--flat" lx-ripple lx-dialog-close>Cancel</button>
      </div>
    </div>
  </lx-dialog>

  <!-- About -->
  <lx-dialog class="dialog dialog--l" auto-close="true" id="about">
    <div class="dialog__header">
      <div class="toolbar bgc-blue-A700 pl+">
        <span class="toolbar__label tc-white fs-title">
          About Contacts
        </span>
        <div class="toolbar__right">
          <button class="btn btn--l btn--white btn--icon" lx-ripple lx-dialog-close>
            <span aria-hidden="true" class="mdi mdi-close"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="dialog__content p+">
      <p>Contacts is a personal address book manager, that uses Linked Data to store your contacts on your personal online datastore.</p>
      <br>
      <p>This application follows the <a href="https://github.com/linkeddata/SoLiD/">SoLiD specifications</a> to ensure that your data stays private.</p>
    </div>
    <div class="dialog__actions">
      <button class="btn btn--m btn--black btn--flat" lx-ripple lx-dialog-close>Close</button>
    </div>
  </lx-dialog>

  <!-- End dialogues -->

  <!-- Deps -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/velocity/velocity.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-ui/build/angular-ui.min.js"></script>
  <script src="bower_components/lumx/dist/lumx.min.js"></script>
  <script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
  <script src="bower_components/ngImgCrop/compile/minified/ng-img-crop.js"></script>
  <script src="vendor/rdflib.min.js"></script>
  <script src="vendor/common.js"></script>
  <!-- App -->
  <script src="app/app.js"></script>
</body>

</html>