<!doctype html>
<html lang="en" ng-app="Contacts" ng-cloak>

<head>
  <title>Contacts</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <link rel='icon' href='data:;base64,iVBORw0KGgo='>

  <link rel="stylesheet" href="bower_components/lumx/dist/lumx.css">
  <link rel="stylesheet" href="bower_components/mdi/css/materialdesignicons.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" type="img/png" href="images/favicon.png">
</head>

<body ng-controller="Main">
  <div class="row card">
    <div class="toolbar" flex-container="row">
      <div class="toolbar__left">
        <button class="btn btn--l btn--black btn--icon" lx-ripple>
          <span class="mdi mdi-account-plus"></span>
        </button>
      </div>

      <div class="toolbar__left">
        <lx-search-filter closed theme="light" model="searchContacts"></lx-search-filter>
      </div>

      <div class="toolbar__right toolbar__label" ng-if="loggedIn">
        <div class="toolbar__right fs-title" ng-show="loggedIn" lx-tooltip="{{my.name}}" tooltip-position="bottom">
          <img class="mr" ng-show="my.picture" ng-src="{{my.picture}}" alt="Photo of {{my.name}}"/>
          <img class="mr" ng-hide="my.picture" src="images/generic_photo.png" alt="Photo of user" />
        </div>
        <lx-dropdown position="right" from-top>
          <button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
            <span class="mdi mdi-dots-vertical"></span>
          </button>
          <lx-dropdown-menu>
            <ul>
              <li><a class="dropdown-link">Settings</a></li>
              <li class="dropdown-divider"></li>
              <li><a class="dropdown-link" ng-click="logOut()">Logout</a></li>
            </ul>
          </lx-dropdown-menu>
        </lx-dropdown>
      </div>

      <div class="toolbar__right toolbar__label" ng-if="!loggedIn">
        <span class="fs-title">Login</span>
        <button class="btn btn--l btn--black btn--icon" ng-click="viewLogin()" lx-ripple lx-tooltip="Login" tooltip-position="bottom">
          <span class="mdi mdi-login"></span>
        </button>
      </div>
    </div>
  </div>


  <div class="contacts">
    <div class="row contact card list-row list-row--multi-line mb" ng-repeat="contact in contacts|filter: searchContacts">
          <div class="list-row__primary">
              <img ng-show="contact.picture" ng-src="contact.picture" alt="Photo of {{contact.name}}" width="40" height="40" class="img-round">
              <img ng-hide="contact.picture" src="images/generic_photo.png" alt="Photo of {{contact.name}}" width="40" height="40" class="img-round" />
          </div>

          <div class="list-row__content">
              <div class="display-block">
                <span>{{contact.name}}</span>
                <span class="icon icon--xs icon--flat mdi mdi-bookmark" ng-class="contact.bookmarked?'icon--green':'icon--grey'"></span>
              </div>
              <div class="display-block fs-body-1 tc-black-2">
                <span><a href="mailto:{{contact.email}}">{{contact.email}}</a></span>
              </div>
              <div class="display-block fs-body-1 tc-black-2">
                <span>{{contact.phone}}</span>
              </div>
          </div>

          <div class="list-row__secondary">
              <i class="icon icon--s icon--grey icon--flat mdi mdi-chevron-double-down"></i>
          </div>
      </div>
  </div>


  <!-- Deps -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/velocity/velocity.js"></script>
  <script src="bower_components/moment/min/moment-with-locales.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/lumx/dist/lumx.js"></script>
  <script src="vendor/rdflib.min.js"></script>
  <!-- App -->
  <script src="app/app.js"></script>
</body>

</html>