<div class="contacts" ng-if="initialized">
  <div ng-if="contacts.length===0" class="row card align-center p+ mt">
    <h3>You don't have any contacts yet.</h3>
    <div>
      <button class="btn btn--l btn--blue btn--raised mt+" lx-ripple aria-label="Add new contact" lx-tooltip="Add contact" tooltip-position="bottom" ng-click="openDialog('contactInfo')">
        <span aria-hidden="true" class="mdi mdi-account-plus tc-white-1"></span>
        <span>Add a contact</span>
      </button>
    </div>
  </div>

  <div class="row contact mb" ng-repeat="contact in contacts | filter: filters.contacts | orderBy: 'name.value'">
    <div class="card list-row list-row--multi-line" ng-class="{'bgc-blue-100':contact.checked, 'disabled': contact.disabled}" ng-mouseenter="hoverContact(contacts.indexOf(contact), true)" ng-mouseleave="hoverContact(contacts.indexOf(contact), false)">
      
      <div class="list-row__primary">
        <button class="mt btn btn--l btn--black btn--icon" lx-ripple aria-label="Toggle favorite" ng-click="toggleFavorite(contacts.indexOf(contact))">
          <span aria-hidden="true" class="icon icon--l icon--flat mdi" ng-class="contact.favorite == 'favorite'?['icon--green', 'mdi-star']:['icon--grey', 'mdi-star-outline']"></span>
        </button>
      </div>
      <div class="list-row__primary mr+">
        <div ng-show="contact.showcheckbox">
          <div class="checkbox mt+ ml">
            <input type="checkbox" id="cb-{{contacts.indexOf(contact)}}" class="checkbox__input" ng-model="contact.checked" ng-click="manageSelection(contacts.indexOf(contact))">
            <label for="cb-{{contacts.indexOf(contact)}}" class="checkbox__label"></label>
          </div>
        </div>
        <div ng-hide="contact.hidepic" ng-click="hoverContact(contacts.indexOf(contact), true)">
          <img ng-show="contact.hasPhoto[0].value" ng-src="{{contact.hasPhoto[0].value}}" alt="Photo of {{contact.fn[0].value}}" width="40" height="40" class="img-round">
          <img ng-hide="contact.hasPhoto[0].value" src="images/generic_photo.png" alt="Photo of {{contact.fn[0].value}}" width="40" height="40" class="img-round" />
        </div>
      </div>

      <div class="list-row__content truncate" ng-click="hoverContact(contacts.indexOf(contact), true)">
          <div class="display-block">
            {{contact.fn[0].value}}
          </div>
          <div class="display-block fs-body-1 tc-black-2">
            {{contact.hasEmail[0].value}}
          </div>
          <div class="display-block fs-body-1 tc-black-2">
            {{contact.hasTelephone[0].value}}
          </div>
      </div>

      <div class="list-row__secondary mt">
        <lx-dropdown position="right" from-top>
          <button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle aria-label="Actions">
            <span aria-hidden="true" class="mdi mdi-dots-vertical"></span>
          </button>
          <lx-dropdown-menu>
            <ul>
              <li><a class="dropdown-link"><span aria-hidden="true" class="mdi mdi-eye mr"></span>Show more</a></li>
              <li><a class="dropdown-link" ng-click="editContact(contacts.indexOf(contact))"><span aria-hidden="true" class="mdi mdi-pencil mr"></span>Edit contact</a></li>
              <li><a class="dropdown-link" ng-click="confirmDelete([contacts.indexOf(contact)])"><span aria-hidden="true" class="mdi mdi-delete mr"></span>Delete</a></li>
            </ul>
          </lx-dropdown-menu>
        </lx-dropdown>
      </div>
    </div>
  </div>
</div>