<div class="contacts" ng-if="initialized && show.list">
  <div ng-if="!my.config.loaded" class="row align-center p+ mt">
    <lx-progress type="circular" color="#5fa2db"></lx-progress>
    <span>...Loading</span>
  </div>

  <div ng-if="my.config.loaded && contacts.length===0" class="row card align-center p+ mt">
    <h3>You don't have any contacts yet.</h3>
    <div>
      <button class="btn btn--l btn--blue btn--raised mt+" lx-ripple aria-label="Add new contact" lx-tooltip="Add contact" tooltip-position="bottom" ng-click="editContact()">
        <span aria-hidden="true" class="mdi mdi-account-plus tc-white-1"></span>
        <span>Add a contact</span>
      </button>
    </div>
  </div>
  
  <div class="row contact mb" ng-repeat="contact in contacts | unique: '$$hashKey' | filterBy: ['fn', 'hasEmail', 'hasTelephone']: filters.search | orderBy:orderByName">
    <div class="card list-row list-row--multi-line" ng-class="{'bgc-blue-100':contact.checked, 'disabled': contact.disabled}">
      
      <div class="list-row__primary">
        <button class="mt btn btn--l btn--black btn--icon" lx-ripple aria-label="Toggle favorite" ng-click="toggleFavorite(contacts.indexOf(contact))">
          <span aria-hidden="true" class="icon icon--l icon--flat mdi" ng-class="contact.hasFavorite[0].value.length>0?['icon--green', 'mdi-star']:['icon--grey', 'mdi-star-outline']"></span>
        </button>
      </div>
      <div class="list-row__primary mr++">
        <div>
          <img ng-show="contact.hasPhoto[0].value" ng-src="{{contact.hasPhoto[0].value}}" alt="Photo of {{contact.fn[0].value}}" width="40" height="40" class="img-round">
          <img ng-hide="contact.hasPhoto[0].value" src="images/generic_photo.png" alt="Photo of {{contact.fn[0].value}}" width="40" height="40" class="img-round" />
        </div>
      </div>

      <div class="list-row__content truncate">
          <div class="display-block">
            {{contact.fn[0].value}}
          </div>
          <div class="display-block fs-body-1 tc-black-2">
            {{contact.hasEmail[0].value}}
          </div>
          <div class="display-block fs-body-1 tc-black-2">
            {{contact.hasTelephone[0].value}}
          </div>
      </div>

      <!-- <div class="list-row__content truncate">
          <div ng-if="contact.hasNote[0].value" class="display-block hide-small fs-body-1 tc-black-2 ml++">
            "{{contact.hasNote[0].value}}"
          </div>
          <div class="display-block hide-small fs-body-1 tc-black-2 ml++">
            {{contact.uid[0].value}}
          </div>
      </div> -->

      <div class="list-row__secondary mt" ng-show="selects.contacts.length > 0">
          <div class="checkbox">
            <input type="checkbox" id="cb-{{contacts.indexOf(contact)}}" class="checkbox__input" ng-model="contact.checked" ng-click="manageSelection(contacts.indexOf(contact))">
            <label for="cb-{{contacts.indexOf(contact)}}" class="checkbox__label"></label>
          </div>
        </div>
      <div class="list-row__secondary mt" ng-hide="selects.contacts.length > 0">
        <lx-dropdown position="right" from-top>
          <button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle aria-label="Actions">
            <span aria-hidden="true" class="mdi mdi-dots-vertical"></span>
          </button>
          <lx-dropdown-menu>
            <ul>
              <li><a class="dropdown-link" ng-click="viewContact(contacts.indexOf(contact))"><span aria-hidden="true" class="mdi mdi-eye mr"></span>View contact</a></li>
              <li><a class="dropdown-link" ng-click="editContact(contacts.indexOf(contact))"><span aria-hidden="true" class="mdi mdi-pencil mr"></span>Edit contact</a></li>
              <li><a class="dropdown-link" ng-click="manageSelection(contacts.indexOf(contact), true)"><span aria-hidden="true" class="mdi mdi-checkbox-marked-outline mr"></span>Select contact</a></li>
              <li class="dropdown-divider"></li>
              <li><a class="dropdown-link" ng-click="confirmDelete([contacts.indexOf(contact)])"><span aria-hidden="true" class="mdi mdi-delete mr"></span>Delete</a></li>
            </ul>
          </lx-dropdown-menu>
        </lx-dropdown>
      </div>
    </div>
  </div>
</div>